h3 {
  font-size: 20px;
  color: $dark-blue;
}
p {
  font-size: 16px;
}
.alert-error {
  background-color: #e86363;
  color: white;
}
.row {
  background-color: white;
}
.desks-container {
  padding: 40px 0;
  h3 {
    padding: 8px;
    border-bottom: 2px solid $light-gray;
  }
}

// * {
//   border: 1px solid red;
// }

.each-desk {
  z-index: 100;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  .desk-head {
    background: $dark-blue;
    color: white;
    padding: 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark-blue;
    p {
      margin: 0;
    }

    .fa {
      font-size: 1.3em;
    }

    &:hover {
      background: $medium-blue;
    }
  }

  .desk-subhead {
    padding: 16px 80px;
    .fa {
      font-size: 1.2em;
      margin-bottom: 6px;
    }
    .list-group {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 12px;
      margin-bottom: 0px;
    }
    .list-inline {
      margin-bottom: 0;
      li {
        text-align: center;
      }
    }
  }

  .desk-body {
    display: flex;
    padding: 10px 50px 10px 50px;
    background-color: $very-light-gray;
    .desk-time-list {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      margin-bottom: 5px;
      .btn-white {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        margin: 0px 0;
        color: $dark-blue;
        background-color: white;
        border-color: $light-gray;
        border-radius: 5px;
        &:hover {
          border-color: $medium-gray;
        }

        .desk-avatars {
          position: absolute;
          height: 50px;
          right: 20px;
          top: 13px;
        }
      }

      .background-gray-button {
          // PLEASE CHANGE MY COLORS FOR BETTER DESIGN
          background-color: $medium-gray;
          color: white;
        }
      }

      .desk-avatars-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 5px;
        margin-left: 5px;
        .time-slot {
          height: 80px;
          background-color: $light-gray;
          display: flex;
          align-items: center;
          padding: 3px;
        }
      }
    }
  }

  .col-xs-3.summary-right {
    padding: 0;
  }
  .summary-right {
    z-index: 100;
    .btn-darkred {
      width: 200px;
      color: white;
      background-color: $dark-red;
      &:hover{
        background-color: #ba2138;
      }
    }
    position: fixed;
    right: 8%;
    top: 30vh;
    border: 1px solid $dark-gray;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(250,250,250,0.6);

    .summary-head {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40px;
      border: 1px solid $dark-gray;
      margin-bottom: 20px;
      width: 100%;
      color: white;
      background-color: rgba(130,128,128, 0.7);
      border: 1px solid rgba(255,255,255, 0.7);
    }

    .summary-body {
      margin-bottom: 20px;

      #booking-total-cost {
        font-family: $headers-font;
        font-weight: bolder;
        // font-size: 1em;
      }
    }
  }

  .remove-margins {
    margin: 0;
  }

  #special-booking-filter {
    position: fixed;
    background-color: black;
    opacity: 0;
    width: 100%;
    top: 70px;
    bottom: 0;
    z-index: 99;
  }
