h3 {
  font-size: 20px;
  color: $dark-blue;
}
p {
  font-size: 16px;
}
.row {
  background-color: white;
}
.desks-container {
  padding: 40px;
  padding-left: 100px;
  h3 {
    padding: 8px;
    border-bottom: 2px solid $light-gray;
  }
}

.each-desk {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  .desk-head {
    background: #CCCCCC;
    padding: 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    p {
      margin: 0;
    }
    .fa {
      font-size: 1.3em;
    }
  }

  .desk-subhead {
    padding: 16px 80px;
    .list-group {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .list-inline {
      margin-bottom: 0;
      li {
        text-align: center;
      }
    }
  }

  .desk-body {
    // background: yellow;
    display: flex;

    .desk-time-list {
      // background: #E6A4EB;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-right: 1px solid gray;
      .btn-white {
        margin-left: 5px;
        color: $dark-blue;
        background-color: white;
        border-right-color: $dark-gray;
        border-bottom-color: $dark-gray;
        &:hover {
          background-color: $light-gray;
        }
      }
    }

    .desk-avatars-container {
      padding: 5px 0px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .time-slot {
        height: 38px;
        margin-right: 5px;
        background-color: $light-gray;
        margin: 1px 0px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 3px;
      }
    }
  }
}

.col-xs-3.summary-right {
  padding: 0;
}
.summary-right {
  .btn-darkred {
    width: 200px;
    color: white;
    background-color: $dark-red;
    &:hover{
      background-color: #ba2138;
    }
  }
  position: fixed;
  right: 0;
  top: 30vh;
  border: 1px solid $dark-gray;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(250,250,250,0.6);

  .summary-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    border: 1px solid $dark-gray;
    margin-bottom: 20px;
    width: 100%;
    background-color: $dark-gray;
    color: white,
  }

  .summary-body {
    margin-bottom: 20px;
  }
}

.time-selected {
  background-color: #B3B3B3;
}
