h3 {
  font-size: 20px;
  color: $dark-blue;
}
.desks-container {
  border: 1px solid green;
  padding: 40px;
}

.each-desk {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  .desk-head {
    background: #CCCCCC;
    padding: 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .desk-subhead {
    padding: 16px 80px;
    .list-group {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .list-inline {
      margin-bottom: 0;
      li {
        text-align: center;
      }
    }
  }

  .desk-body {
    // background: yellow;
    display: flex;

    .desk-time-list {
      // background: #E6A4EB;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-right: 1px solid gray;
      .btn-white {
        margin-left: 5px;
        color: $dark-blue;
        background-color: white;
        border-color: $dark-blue;
        &:hover {
        background-color: $light-gray;
        }
      }
    }

    .desk-avatars-container {
      padding: 10px 0px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .time-slot {
        margin-right: 5px;
        background-color: $light-gray;
        margin: 3px 0px;
        flex-grow: 1;
      }
    }
  }
}

.summary-right {
  position: fixed;
  right: 0;
  top: 50vh;
  border: 1px solid blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .summary-head {
    border: 1px solid red;
    margin-bottom: 20px;
  }

  .summary-body {
    border: 1px solid black;
    margin-bottom: 20px;
  }
}
