// Specific CSS for your home-page
.wrapper {
  background: white;
}
.info {
  padding-top: 20px;
  height: 70vh;
  text-align: center;
  margin: 0 20%;
  .heading {
    font-size: 30px;
  }
  .paragraph {
    padding-top: 20px;
    margin-bottom: 50px;
  }

}
.comments {
  height: 70vh;
  margin: 0 5%;
}
.comment {

}


