// Specific CSS for your home-page
.wrapper{
  margin: 0 30px;
  margin-bottom: 40px;
}
#row-home {
  background-color: $light-gray;
  padding: 0px 70px;
  .card {
    background-color: white;
  }
}
.info {
  padding-top: 20px;
  text-align: center;
  margin: 0 20%;
  .heading {
    font-size: 30px;
  }
  .paragraph {
    padding-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
