input#user_avatar {
    display: flex;
    font-size: 12px;
}
.user-names {
  display: flex;
  align-items: center;

}
.user-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 700px;
}
.avatar-lg {
  margin-top: 20px;
}

.profile-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 200px;
  width: 700px;
  padding: 30px;
}

.booking-grid {
  line-height: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 4fr 1fr;
  width: 700px;
  padding: 30px;
}

.profile-header {
  font-family: $headers-font;
  font-weight: bold;
  grid-row: 1 / span 1;
  grid-column: 1/ span 12;
  border-bottom: 1px solid rgb(220,220,220);
  p {
    margin-bottom: 3px;
  }
}

.first_name-header {
  opacity: 0.8;
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
  margin-top: 10px;
}

.first_name {
  opacity: 0.6;
  grid-row: 2 / span 1;
  grid-column: 2/ span 2;
  margin-top: 10px;
}
.last_name-header {
  opacity: 0.8;
  grid-row: 3 / span 1;
  grid-column: 1/ span 1;
}

.last_name {
  opacity: 0.6;
  grid-row: 3 / span 1;
  grid-column: 2/ span 2;
}
.email-header {
  opacity: 0.8;
  grid-row: 4 / span 1;
  grid-column: 1/ span 1;
}

.profile-email {
  opacity: 0.6;
  grid-row: 4 / span 1;
  grid-column: 2/ span 2;
}
.change-password {
  grid-row: 5 / span 1;
  grid-column: 1/ span 3;
  margin-bottom: 20px;
}
.occupation-header {
  opacity: 0.8;
  grid-row: 6 / span 1;
  grid-column: 1/ span 3;
}
.occupation {
  opacity: 0.6;
  grid-row: 6 / span 1;
  grid-column: 2/ span 2;
}
.aboutme-header {
  opacity: 0.8;
  grid-row: 7 / span 1;
  grid-column: 1/ span 3;
}
.aboutme {
  opacity: 0.6;
  grid-row: 7 / span 1;
  grid-column: 2/ span 2;
}
.bookings-header {
  font-family: $headers-font;
  font-weight: bold;
  grid-row: 6 / span 1;
  grid-column: 1/ span 5;
  border-bottom: 1px solid rgb(220,220,220);
  p {
    margin-bottom: 3px;
  }

}

.date-header {
  opacity: 0.8;
  grid-row: 7 / span 1;
  grid-column: 1/ span 1;
  margin-top: 10px;
}
.time-header {
  opacity: 0.8;
  grid-row: 7 / span 1;
  grid-column: 2/ span 1;
  margin-top: 10px;
}

.cost-header {
  opacity: 0.8;
  grid-row: 7 / span 1;
  grid-column: 3/ span 1;
  margin-top: 10px;
}

.coffeeshop-header {
  opacity: 0.8;
  grid-row: 7 / span 1;
  grid-column: 4/ span 1;
  margin-top: 10px;
}

.date {
  opacity: 0.6;
  grid-row: 8 / span 1;
  grid-column: 1/ span 1;
}

.time {
  opacity: 0.6;
  grid-row: 8 / span 1;
  grid-column: 2/ span 1;
}

.cost {
  opacity: 0.6;
  grid-row: 8 / span 1;
  grid-column: 3/ span 1;
}

.coffeeshop-name {
  opacity: 0.6;
  grid-row: 8 / span 1;
  grid-column: 4/ span 3;
  overflow: visible;
}

.cancel {
  grid-row: 8 / span 1;
  grid-column: 7/ span 1;
  overflow: visible;
}
