.user-list{
  form {
    margin: 25px 0 50px 0;
    text-align: center;
  }
}
.heading {
  font-family: $logo-font;
  width: 100%;
  text-align: center;
  color: $dark-blue;
}

.gray-background {
  background: transparent;
}
.user-name {
  a {
    color: $dark-blue;
    text-decoration: none;
    text-align: center;
    &:hover {
    }
  }
}

.user-cards{
  padding: 10px;
  background-color: #e6bc80;
  margin: 5px 10px;
}
