<div class="col-xs-12 col-md-4 col-sm-6 cards-wrap">
  <div class="card">
    <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://photos.nomadicnotes.com/img/s5/v133/p1512978679-4.jpg');">
      <div class="card-name">
        <h2><%= coffeshop_name %></h2>
      </div>
      <div class="show-card">
        <div class="card-description">
          <p>Very hipster, only cool people can join</p>
        </div>
        <div class="desk-icons">
        <% if wifi %>
          <i class="fa fa-wifi fa-lg"></i>
        <% end %>
        <% if power_outlet %>
          <i class="fa fa-plug fa-lg"></i>
        <% end %>
        <i class="fa fa-users fa-lg"></i>
        <%= capacity %>
      </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-user">
<!--           <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/nhxng"> -->
</div>
<div class="card-price"> <%= average_desk_price %> </div>
</div>
<a class="card-link" href="#" ></a>
<%= link_to "", link_path, class: "card-link"  %>

</div>
</div>

