<h2>These are cards!</h2>


<div class="container">
  <div class="row">
    <div class="col-cs-12 col-sm-4">

      <div class="card">
        <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://photos.nomadicnotes.com/img/s5/v133/p1512978679-4.jpg');">

          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Einstein Café</h2>
            <p>Very hipster, only cool people can join</p>
          </div>

        </div>
          <div class="card-bottom">
            <div class="card-user">
              <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/nhxng">
            </div>
            <div class="card-price">20 €/h</div>
          </div>
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-cs-12 col-sm-4">

    </div>
    <div class="col-cs-12 col-sm-4">

    </div>
  </div>
</div>
