<div class="coffeeshop-banner" style="background-image: linear-gradient(-225deg, rgba(150,150,150,0.5) 0%, rgba(110,110,110,0.5) 50%), url('<%= coffeeshop_picture %>');">
  <div class="banner-content">
    <h1> <%= @coffeeshop.name %></h1>
  </div>
</div>

