<div class="wrapper-white">
  <div class="comments">
    <div class="comment left">
      <%= image_tag 'Maren', class: 'avatar-comment' %>
      <blockquote> I got to meet a lot of interesting people while working. It's is a great way to get inspired and exchange ideas.
        <cite> Maren, business student</cite>
      </blockquote>
    </div>
    <div class="comment right">
      <blockquote> I got to meet a lot of interesting people while working. It's is a great way
        to get inspired and exchange ideas.
        <cite>Sey Cheon, Coding World Champion</cite>
      </blockquote>
      <%= image_tag 'Sey', class: 'avatar-comment' %>
    </div>
    <div class="comment left">
      <%= image_tag 'Kris', class: 'avatar-comment' %>
      <blockquote> I got to meet a lot of interesting people while working. It's is a great way
        to get inspired and exchange ideas.
        <cite>Kristofer Espinosa, world traveler and blogger</cite>
      </blockquote>
    </div>
    <div class="comment right">
      <blockquote> I got to meet a lot of interesting people while working. It's is a great way
        to get inspired and exchange ideas.
        <cite>Nhung Nguyen, CEO of FitFlex</cite>
      </blockquote>
      <%= image_tag 'Nhung', class: 'avatar-comment' %>
    </div>
  </div>
</div>
