
<div class="footer">
  <%= link_to 'CoworkIT', root_path, class: "footer-left" %>
  <div class="footer-links">
    <div class="social">
      <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="footer-contact">
    <p>info@cowork-it.com</p>
    <p>0049-030-348503</p>
  </div>
</div>



