<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-md-4 footer-links">
      CoworkIT
    </div>
    <div class="col-xs-12 col-md-2 footer-info">
      <ul id="footer-info-menue">
        <li>Home</li>
        <li>Community</li>
        <li>Jobs</li>
        <li>About Us</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-2 footer-cities">
      <ul id="footer-cities-menue">
        <li>Berlin</li>
        <li>Hamburg</li>
        <li>Frankfurt</li>
        <li>Stuttgart</li>
        <li>München</li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-2 footer-contact">
      <ul id="footer-contact-menue">
        <li class="text-color">Work at the best place for YOU!</li>
        <div class="footer-contact-info">
          <li>info@cowork-it.com</li>
          <li>0049-030-348503</li>
        </div>
      </ul>
    </div>
    <div class="col-xs-12 col-md-2 footer-social">
      <p>Get social!</p>
      <div class="social">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>


