
<div class="footer">
  <div class="footer-left">
    <%= link_to 'CoworkIT', root_path %>
  </div>
  <div class="footer-right">
    <div class="footer-contact">
      <ul>
        <li class="text-color">Work at the best place for YOU!</li>
        <div class="footer-contact-info">
          <li>info@cowork-it.com</li>
          <li>0049-030-348503</li>
        </div>
      </ul>
    </div>
    <div class="footer-links">
      <p>Get social!</p>
      <div class="social">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>



