<div class="footer">
  <%= link_to 'CoworkIT', root_path, class: "footer-left" %>
  <ul class="footer-social list-unstyled list-inline">
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/Sey1000/cowork-it"><i class="fa fa-github"></i></a></li>
  </ul>
  <div class="footer-contact">
    <p>info@cowork-it.com</p>
    <p>0049-030-348503</p>
  </div>
</div>



