<div class="col-xs-12 col-sm-6">
  <div class="info-card">
    <div class="card-background-image" style="background-image: linear-gradient(rgba(167,167,167,0.5) 0%, rgba(154,154,154,0.5) 50%), url('http://photos.nomadicnotes.com/img/s5/v133/p1512978679-4.jpg');">
      <div class="card-description-black-white">
        <p> work better together</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="info-card">
    <div class="card-background-image" style="background-image: linear-gradient(rgba(167,167,167,0.5) 0%, rgba(154,154,154,0.5) 50%), url('http://photos.nomadicnotes.com/img/s5/v133/p1512978679-4.jpg');">
      <div class="card-description-black-white">
        <p>get inspired</p>
      </div>
    </div>
  </div>
</div>
