<div class="row">
  <div class="offer col-xs-6 col-sm-3">
    <%= image_tag 'team', class: 'offer-icon' %>
    <p class="offer-description">Work in a team</p>
  </div>
  <div class="offer col-xs-6 col-sm-3">
    <%= image_tag 'woman', class: 'offer-icon' %>
    <p class="offer-description">Meet inspiring people </p>
  </div>
  <div class="offer col-xs-6 col-sm-3">
    <%= image_tag 'teamwork', class: 'offer-icon' %>
    <p class="offer-description">Build a network</p>
  </div>
  <div class="offer col-xs-6 col-sm-3">
    <%= image_tag 'conversation', class: 'offer-icon' %>
    <p class="offer-description">Make conversation</p>
  </div>
</div>

