<%= render 'shared/banner' %>
<div class="wrapper">
  <div class="info">
    <h2 class="heading"> Recommendations</h2>
    <p class="paragraph"> Stuck in an unproductive zone? You need other people around you to be productive? Then book a desk at your nearby coffeeshop to work with inspiring people now.</p>
  </div>
    <div class="row">
      <% @coffeeshops.each do |cs| %>
        <%= render partial: 'shared/card', locals: { coffeshop_name: cs.name, link_path: coffeeshop_path(cs), average_desk_price: cs.average_price_per_hour, wifi: cs.wifi_availability, power_outlet: cs.power_outlet_availability  } %>
      <% end %>
    </div>
</div>
<%= render 'shared/comments' %>
<%= render 'shared/offers' %>
