.avatar-xs {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.avatar-comment {
  width: 250px;
  height: 250px;

}

.avatar-lg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

