.avatar-xs {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.avatar-comment {
  width: 200px;
  height: 150px;
  padding: 0 25px;
  min-width: 200px;
  min-height: 150px;
  border-radius: 50%;

}

.avatar-lg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

