.btn-register {
  background-color: white;
  color: $dark-blue;
  padding: 8px 50px;
  border-radius: 5px;
  border: 2px solid $dark-blue;
  position: absolute;
  right: 95px;
  &:hover{
    background-color: $dark-blue;
    color: white;
  }
}

.btn-red {
  background-color: $dark-red;
  color: white;
  &:hover{
  background-color: #ba2138;
  }
}

.btn-search{
  padding: 8px 50px;
  border-radius: 5px;
  right: 95px;
  border: none;
}

.btn-facebook {
  background-color: #3b5998;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: #223357;
    color: white;
  }
}

.btn-cancel{
  padding: 2px 12px;
  border-radius: 3px;
  font-size: 12px;
  text-decoration:none;
}
