.btn-register {
  background-color: #9D9D9D;
  color: white;
  padding: 8px 50px;
  border-radius: 5px;
  position: absolute;
  right: 95px;
  &:hover{
    background-color: $dark-gray;
    color: white;
  }
}

.btn-red {
  background-color: $dark-red;
  color: white;
  padding: 8px 50px;
  border-radius: 5px;
  right: 95px;
  border: none;
  &:hover{
    background-color: #ba2138;
  }
}

.btn-facebook {
  background-color: #3b5998;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: #223357;
    color: white;
  }
}

