.card {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 10px 15px;
  border: 1px solid rgba(230,230,230,0.4);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
}
.card-top {
  background-size: cover !important;
  background-position: center;
  position: relative;
  height: 150px;
}
.card-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-name h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 20px;
  text-shadow: none;

}
.card-bottom {
  position: relative;
  height: 50px;
}
.card-price {
  position: absolute;
  right: 5px;
  bottom: 10px;
  color: $dark-blue;
}
.card-user {
  position: absolute;
  left: 10px;
  bottom: 5px;
  border-radius: 50%;
  display: flex;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.show-card{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  color: $dark-blue;
}

.card-description {
  position: absolute;
  top: 10px;
  left: 5%;
  right: 5%;
  display: block;
}

.desk-icons{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;

}

.feature {
  margin-right: 10px;
}

.card:hover {

  .show-card{
    background: rgba(255,255,255,0.7);
    opacity: 1;
  }

  .card-name{
    opacity: 0;
  }
}
