.card {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px 30px;
  border: 1px solid rgba(230,230,230,0.4);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
}
.card-top {
  background-size: cover !important;
  background-position: center;
  position: relative;
  height: 150px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.card-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-name h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 20px;
  text-shadow: none;

}
.card-bottom {
  position: relative;
  height: 50px;
  color: $dark-blue;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-price {
  position: absolute;
  right: 20px;
  bottom: 14px;
  color: $dark-blue;
  font-size: 16px;
}
.card-user {
  position: absolute;
  left: 20px;
  bottom: 5px;
  border-radius: 50%;
  display: flex;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 6px;
}

.show-card{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-description {
  display: block;
  padding: 20%;
  text-align: center;
}

.desk-icons{
  position: absolute;
  bottom: 13px;
  left: 20px;
  display: flex;
  text-shadow: none;
  font-size: 15px;
  // opacity: 0.6;
}

.feature {
  margin-right: 10px;
}

.card:hover {
  .show-card{
    background: rgba(0,0,0,0.5);
    opacity: 1;
  }

  .card-name{
    opacity: 0;
  }
}
