.footer {
  background: #2c3742;
  height: 140px;
  padding: 0px 50px;
  color: white;
  list-style-type: none;
  padding-top: 20px;
  .row{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 100%;

  }
  .footer-links {
    display: flex;
    align-items: center;
    font-family: $logo-font;
    font-size: 38px;
  }
  #footer-info-menue{
    list-style-type: none;
    margin-bottom: 0px !important;
  }
  #footer-cities-menue{
    list-style-type: none;
    margin-bottom: 0px !important;
  }

  #footer-contact-menue{
    list-style-type: none;
    margin-bottom: 0px !important;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;

  }
  .text-color{
    display: inline-block;
    width: 100px;
    color: #A5293C;
    font-size: 13px;

  }
  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px

  }
  .footer-social p{
    color: #A5293C;
  }

  .social a {
    color: white;
    opacity: 0.15;
    text-decoration: none;
    font-size: 15px;
    padding: 0px 10px;
  }
  .social a:hover {
    opacity: 1;
  }
}


