.offer{
  margin: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-icon {
  height: 115px;
}

.offer-description {
  height: 50px;
  display: flex;
  align-items: center;
}

