<h2><%= coffeeshop.name %></h2>
<h3><%= coffeeshop.address %></h3>
<p><%= coffeeshop.website %></p>
<p><%= coffeeshop.desks %></p>
<p><%#= coffeeshop.desks.end_time %></p>
<p><%#= coffeeshop.desks.cost %></p>


